<head>
<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <form method="post" action="/login">
    <div class="imput">
        <input type=password name=password id=password>
        <button>GO</button>
        </div>
    </form>
</body>