.video {
    margin: 2.5vw 30vh;
  
}

body {
    background-image: url("/images/night-sky-hd-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

/* #notifypop{ 
    display:none;
} */
